name: Build DesktopSharing for Windows

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2019_64'
        modules: 'qtbase qttools'

    - name: Install CMake
      uses: lukka/get-cmake@latest

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake .. -G "Visual Studio 17 2022" -DCMAKE_PREFIX_PATH="${{ env.Qt6_Dir }}"

    - name: Build
      run: |
        cd build
        cmake --build . --config Release

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: DesktopSharing-Windows-x64
        path: build/Release/*.exe
